 <%- include header.ejs %>
	<h1>Registration Confirmation</h1>
	<p>
		<ul>
			<li> username:<%=  username%></li>
			<li> mail:<%=  mail%></li>
			<li> firstname:<%=  firstname%></li>
			<li> lastname:<%=  lastname%></li>
		</ul>
	</p>

	<a href="/login">Login</a>
 <%- include footer.ejs %>

